<%= form_for(@business, html: {class: "form-sign", role: "form"})  do |f| %>
  <% if @business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% @business.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.number_field :quantity , class: 'form-control', placeholder:'二维码对应数目'%>
  </div>
  <div class="actions">
       <%= f.submit "创建新的二维码", class: 'btn btn-primary btn-lg btn-block' %>
  </div>
<% end %>
