<%= link_to('登出', destroy_user_session_path, :method => :delete) %> 
<%unless current_user.admin%>
<%= link_to('查看用户消费记录', users_businesses_path, :method => :get) %> 
<%end%>
<h1>二维码</h1>

<table>
  <thead>
    <tr>
	  <th>商家名称</th>
      <th>二维码对应数目</th>
      <th>二维码</th>
      <th></th>
	  <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
		<td><%= BusinessMetum.find(business.business_meta_id).name%></td>
        <td><%= business.quantity %></td>
        <td><%= link_to '显示二维码', business %></td>
        <td><%= link_to '编辑二维码', edit_business_path(business) %></td>
        <td><%= link_to '删除二维码', business, method: :delete, data: { confirm: '你确定要删除这个二维码么?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '创建新的二维码', new_business_path %>
<div class="link-sign">
	<%=link_to ' 查看商家信息',business_meta_path, {:style=>'color:#FFFFFF;'} %>
</div>

<script type="text/javascript">
mixpanel.identify("<%=current_user.id%>");
mixpanel.people.set({
    "$email": "<%=current_user.email%>",
	"$role": 'owner',
    "$last_login": new Date()
});
mixpanel.track('owner signed in');
</script>