<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
	$("#invitation_button").click(function(e){
		var code = $("#invitation_code").val()
		if (code != "secret")
		{
			alert("对不起您的邀请码不正确");
			e.preventDefault();
		} 
	    });
});
</script>
<div id="signupModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <h1 class="text-center">Sign up</h1>
      </div>
      <div class="modal-body">
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>
          <form class="form col-md-12 center-block">	
            <div class="form-group">
				  <%= f.email_field :email, autofocus: true, class: 'form-control input-lg',placeholder: 'Email' %>
            </div>
            <div class="form-group">
				    <%= f.password_field :password, autocomplete: "off", class: 'form-control input-lg',placeholder: 'Password'%>
            </div>
			<div class="form-group">
				    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control input-lg',placeholder: 'Password Confirmation'%>
            </div>
			<div class="form-group">
              <input type="text" class="form-control input-lg" id="invitation_code" placeholder="invitation code">
            </div>
            <div class="form-group">
              <%= f.submit "Sign up", class: 'btn btn-primary btn-lg btn-block', id: 'invitation_button'%>
             <% end %>
            </div>
			<%= render "devise/shared/links" %>
          </form>
      </div>
  </div>
  </div>
</div>


