

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(window).load(function(){
 $('.uploaded-logo').each(function(){
  var imgClass = (this.width/this.height > 0.6) ? 'img-tall' : '';
  $(this).addClass(imgClass);
 })
})
</script>
<div class="container">
	<div class="header">
		<%= image_tag "logo.jpg", :class => 'logo' %>
	</div>

	<div class="tag">
		<div class="tag-block"><%= image_tag "tag1.jpg"%></div>
		<div class="tag-block"><%= image_tag "tag2.jpg"%></div>
		<div class="tag-block"><%= image_tag "tag3.jpg"%></div>
		<div class="tag-block"><%= image_tag "tag4.jpg"%></div>
	</div>
	
<div class="content">
    <% @record.each_with_index.map do |r,i| 
	meta_id = r[0]
	amount = r[1]
	i = i%5 + 1
	%>
	
	<% if i == 1 %>
	<div class="content-block1">
	<%else%>
	<div class="content-block2">
	<%end%>
		<%= image_tag "block-bg-#{i}.png"%>
		
		<%if i%2 == 1 %>
    	<div class="content-block-white-left"><%= image_tag "block-white-left.png"%>
		<%else%>
		<div class="content-block-white-right"><%= image_tag "block-white-right.png"%>
		<%end%>
	    	<div class="content-block-logo"><%=image_tag @business_metum[meta_id].logo_url(:thumb).to_s, :class => 'uploaded-logo'%></div>
	    </div>
	
	<%if i%2 == 1 %>
    	<div class="content-block-circle-right">
	<%else%>
		<div class="content-block-circle-left">
	<%end%>
			<%amount.times do |_| %>
				<%= image_tag "block-filled-#{i}.png", :class => 'content-block-circle'%>
				<%end%>
				<% (@business_metum[meta_id].redeem_number - amount).times do |_| %>
					<%= image_tag "block-hollow-#{i}.png", :class => 'content-block-circle'%>
					<%end%>
		</div>
		
		<%if amount >= @business_metum[meta_id].redeem_number%>
		<%if i%2 == 1 %>
	    	<div class="content-block-btn-right">
		<%else%>
			<div class="content-block-btn-left">
		<%end%>
		<%= link_to image_tag("block-btn-#{i}.png"), {controller: "display", action: :exchange, meta_id: meta_id}, data: { confirm: 'Are you sure?' } ,method: :post %></div>
		<%end%>
	</div>
	
    <% end%>

<% if user_signed_in?%>
<div class="bottom">
	<%= link_to image_tag("exit.jpg", :id => 'exit'), destroy_user_session_path, :method => :delete%>
</div>
<%end%>
</div>
</div>


<script type="text/javascript">
mixpanel.identify("<%=current_user.id%>");
mixpanel.people.set({
    "$email": "<%=current_user.email%>",
	"$role": 'user',
    "$last_login": new Date()
});
mixpanel.track('user signed in');
</script>

