<%= form_for(@business_metum, html: {class: "form-sign", role: "form"}) do |f| %>
  <% if @business_metum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business_metum.errors.count, "error") %> prohibited this business_metum from being saved:</h2>

      <ul>
      <% @business_metum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder:'商店名称(必填)）' %>

    <%= f.number_field :redeem_number, autofocus: true, class: 'form-control', placeholder: '兑换数目(必填)'%>
  
    <%= f.text_field :location, autofocus: true, class: 'form-control', placeholder: '地址(方便我们推荐给用户)' %>
  
    <%= f.text_field :phone, autofocus: true, class: 'form-control', placeholder: '电话(方便我们联系您)' %>
  
    <span class="btn btn-file">
      上传商标 <%= f.file_field :logo%>
    </span>

    <%= f.submit "提交", class: 'btn btn-primary btn-lg btn-block' %>
<% end %>
