<%= form_for(@business_metum, html: {class: "form-sign", role: "form"}) do |f| %>
  <% if @business_metum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business_metum.errors.count, "error") %> prohibited this business_metum from being saved:</h2>

      <ul>
      <% @business_metum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Name' %>

    <%= f.number_field :redeem_number, autofocus: true, class: 'form-control', placeholder: 'Redeem Number'%>
  
    <%= f.text_field :location, autofocus: true, class: 'form-control', placeholder: 'Location' %>
  
    <%= f.text_field :phone, autofocus: true, class: 'form-control', placeholder: 'Phone' %>
  
    <span class="btn btn-file">
      Logo Upload <%= f.file_field :logo%>
    </span>

    <%= f.submit "Create Business Metum", class: 'btn btn-primary btn-lg btn-block' %>
<% end %>
