<%= form_for(@business_metum) do |f| %>
  <% if @business_metum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business_metum.errors.count, "error") %> prohibited this business_metum from being saved:</h2>

      <ul>
      <% @business_metum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :redeem_number %><br>
    <%= f.number_field :redeem_number %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :logo %><br>
    <%= f.text_field :logo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
