<h1>商家基本信息</h1>

<table>
  <thead>
    <tr>
      <th>商家名称</th>
      <th>兑换数目</th>
      <th>地点</th>
      <th>电话</th>
      <th>商标</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
	<% if current_user.admin %> 
    <% @business_meta.each do |business_metum| %>
      <tr>
        <td><%= business_metum.name %></td>
        <td><%= business_metum.redeem_number %></td>
        <td><%= business_metum.location %></td>
        <td><%= business_metum.phone %></td>
        <td><%= business_metum.logo %></td>
        <td><%= link_to 'Show', business_metum %></td>
        <td><%= link_to 'Edit', edit_business_metum_path(business_metum) %></td>
      </tr>
	<% end %>
	<% else business_metum = @business_meta%> 
	<tr>
        <td><%= business_metum.name %></td>
        <td><%= business_metum.redeem_number %></td>
        <td><%= business_metum.location %></td>
        <td><%= business_metum.phone %></td>
		
        <td><%=image_tag business_metum.logo_url(:thumb).to_s %></td>
        <td><%= link_to '显示商家信息', business_metum %></td>
        <td><%= link_to '编辑', edit_business_metum_path(business_metum) %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<br>

<script type="text/javascript">
mixpanel.track('owner checks business metum');
</script>

